body {
  background-color: white;
  font-family: 'Miriam Libre';
  margin: 0px;
  padding: 0px;
}

.highlight {
  background-color: black;
  color: white !important;
}

.header {
  text-align: center;
  font-weight: 0;
  margin-top: -70px;
  font-size: 64px;
}

.header-icon {
  text-align: center;
  font-weight: 700;
  font-size: 72px;
}

.subheader {
  text-align: center;
  color: gray;
  font-size: 16px;
  margin-top: -20px;
  font-family: 'Lato';
}

.link-div {
  text-align: center;
  margin-top: 50px;
  width: 60%;
  margin-left: 20%;
  line-height: 50px;
}

.link {
  color: #222;
  font-weight: 700;
  text-decoration: none;
  margin: 20px;
}

.link.hover:hover {
  background-color: #000;
  color: #fff;
  animation-name: link-hover;
  animation-timing-function: ease-in;
  animation-timing-function: ease-out;
  animation-duration: .3s;
}

@keyframes link-hover {
  0% {
    background-color: #fff;
    color: #000;
  }

  100% {
    background-color: #000;
    color: #fff;
  }
}

.filter-div {
  border-top: 1px solid lightgray;
  display: inline;
  padding: 10px;
  margin-right: 10px;
}

.filter {
  color: #888;
  font-weight: 400;
  text-decoration: none;
  margin: 20px;
  cursor: pointer;
}

.filter:hover {
  color: #aaa;
}

.filter.active {
  background-color: #555;
  color: #fff;
}

.filter.active:hover {
  color: #eee;
}

.gallery {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: -100px;
}

.item-wrapper {
  text-decoration: none;
  color: black;
}

.item {
  width: 30%;
  margin: 1.66%;
  float: left;
  margin-bottom: 50px;
  cursor: pointer;
}

.item:hover {
  opacity: 0.8;
}

.item-hover-1 {
  opacity: 0.8;
  position: relative;
  top: -5px;
  animation-name: item-hover-1;
  animation-timing-function: ease-in;
  animation-timing-function: ease-out;
  animation-duration: .5s;
}

@keyframes item-hover-1 {
  0% {
    opacity: 1;
    top: 0px;
  }

  100% {
    opacity: 0.8;
    top: -5px;
  }
}

.item-hover-2 {
  opacity: 1;
  position: relative;
  top: 0px;
  animation-name: item-hover-2;
  animation-timing-function: ease-in;
  animation-timing-function: ease-out;
  animation-duration: .25s;
}

@keyframes item-hover-2 {
  0% {
    opacity: 0.8;
    top: -5px;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

.item-animation {
  opacity: 0.2;
  animation-name: item-animation;
  animation-timing-function: ease-in;
  animation-timing-function: ease-out;
  animation-duration: .5s;
}

@keyframes item-animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.item:active {
  fill: red;
}

.item-img {
  width: 100%;
}

.item-title {
  font-weight: 100;
  font-size: 16px;
  margin-top: 10px;
}

.item-subtitle {
  font-weight: 400;
  color: gray;
  font-size: 12px;
  margin-top: -30px;
  font-family: 'Lato';
}

.item-link {
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
  color: #225EE3;
}

.item-link:visited {
  color: #225EE3;
}











.back {
  text-decoration: none;
  color: black;
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 24px;
}

.back:hover {
  background-color: black;
  color: white;
  animation-name: back-animation;
  animation-timing-function: ease-in;
  animation-timing-function: ease-out;
  animation-duration: .3s;
}

@keyframes back-animation {
  0% {
    background-color: white;
    color: black;
  }

  100% {
    background-color: black;
    color: white;
  }
}

.page-header {
  text-align: center;
  font-weight: 0;
  font-size: 64px;
  margin-top: 100px;
}

.page.item:hover {
  opacity: 1;
  cursor: default;
}





















.item-animated {

}
